.focus-transparent:focused{
    -fx-focus-color: none;
    -fx-border-width: 0px;
    -fx-border-color: none;

}
.focus-transparent{
     -fx-focus-color: none;
     -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-background-color: none;
     -fx-border-color: none;
 }